.stage{
    width: 700px;
    height: 300px;
    background-color: aquamarine;
}
.ball{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: brown;
    position: relative;
    animation: sliding 3s ease-in-out .5s infinite alternate;
    animation-play-state: running;
}
.lima{
    color: rgb(21, 0, 255);
    position: relative;
    left: 35px;
    top: 35px;
}
@keyframes sliding{
    0% {
        background-color: yellow; 
        left: 0;
        top: 0;
        
    }
    25%{
        top:225px;
        background-color: red;
        transform: scale(0.5);
    }

    50%{
        top:0px;
        background-color: yellow;
        transform: scale(1);
    }
    75%{
        top:225px;
        background-color: red;
        transform: scale(0.5);
    }

    100%{
        background-color: yellow;
        left: 600px;
        top:0;
        transform: scale(1);
    }
}